.tableCustom {
  width: 100%;
}

.tableCustom thead {
  background-color: #1b1a1bd7;
}

.tableCustom thead tr th {
  padding: 1.5rem;
}

.tableCustom tbody tr td {
  padding: 1.5rem;
}

.tableCustom tbody tr td button {
  margin-right: 15px;
}
