.line {
  display: flex;
  border-bottom: 2px solid #eeebeb;
  width: 7rem;
  position: relative;
  left: 8rem;
}

@media (max-width: 307px) {
  .line {
    width: 5rem;
    left: 9rem;
  }
}

@media (max-width: 290px) {
  .line {
    position: absolute;
    left: 10rem;
    width: 5rem;
  }
}
